pip
bumpversion
cython
wheel
watchdog
flake8
codecov
coverage
Sphinx
twine
pytest
pytest-runner
pytest-cov
pytest-console-scripts
numpy
scipy
matplotlib
astropy
pandas
shapely
requests
h5py
scikit-image
lacosmic
hjson
voevent-parse
xmltodict
astroML
photutils
keras
keras-vis
tensorflow
regions
opencv-python-headless
astroquery
astroscrappy
